In [1]:
1+1

2

# Git:

1. git clone git@github.com:cloudxlab/june_2025_iitr.git
2. cd june_2025_iitr
3. git add 1.\ Intro.ipynb
4. git commit -m "class notes" .
5. git push

# For you:

git clone https://github.com/cloudxlab/june_2025_iitr.git

# Fixing a bug

- Create a branch
- Fix the bug: fix the code, testing
- git add/commit/push. 
- Create something call a pull request - #PR

# Getting new updates

git pull

In [ ]:
# Create a number system,

Choose a number between 3 and 13 except for 10. We call it base.

In [ ]:
# Base 10
We have total 10 symbols - 0, 1,....9, 10

# Base 5
0
1
2
3
4
10
11
12
13
14
20
...
24
30
..
..
44
100
..
134
140

In [ ]:
# Base 14
0, 1, 2, 3, .....9, A, B, C, D, 10, 11,12....1C, 1D, 20, ....2D, 30,

In [ ]:
# Base 64
Letter, numbers, _-
0,1,...9,A,....Z, a,..z, _=10....1_, 20...2_,.....___

In [ ]:
# Base 6
0
1
2
3
4
5
10
11
12
13
14
15
20
..

In [ ]:
can you pl explain base 5 only how 100 came after 44

In [ ]:
4
10
11
12
13
14
20
21
22
23
24
30
..
34
40
..
44
100

because when we add 1 in the "one's place" (The rightmost 4), we get a 5, which will carry over to the next 4, which in itself becomes a "5". Since we are in base 5, we now have 5 5's, or one 5^2, which means it would be compared to 10^2 in base 10 or 100

I was going to ask that even though it is absurd if we come up with our own arethimetic operations can't we define them such that the operations make sense even if the increment happens on the lhs, apologies about the mic issue I will rejoin from another device

Actually that concept is out there… it’s the Big-Endian vs Little-Endian system when applied to base 10.  The normal number system can be viewed as Big-Endian.

In [ ]:
base 9
0
1
2
3
4
5
6
7
8
10
11
12
13
14
15
16
17
18
20

In [ ]:
You have 7 symbols - 0,1,2,3,4,5,6, 10, ...., 16, 20, 21....

In [ ]:
# Smallest base possible?
# One- 11, 111, 1111, 
0
00
000
0000

# Two
0
1
10
11
100
101
110
111
1000

In [ ]:
#Base 5
Using only one place how many counts? 5
Using two digits, how many counts? 5*5
Using three digits, how many ... 125
Using k digits, 5^k

base b
using k digits, how many numbers can you represent: b^k

Q1: Choose your base between 3 and 13. And write upto 3 three digit numbers in that base.

Q2: Add/Substract single digit and multiple digits in your number system

Q3: Prepare a table of single digit multiplications in your number system.

Q4: Multiply multiple digits in your number system

In [ ]:
#base is 5
base5 -> base10
1  -> 1
2  -> 2

10 -> 5
11 -> 6
14 --> 9
20 -> 2*5
30 -> 3*5
40 -> 4*5
100 -> 5*5
200 -> 2*5^2 
220 == 200 + 20 -> 2*5^2 + 2*5 

324 -> 3*5^2 + 2*5 + 4
---
43 -> 4*5 + 3 -> 23

base10 --> base5
0 0
1 1
2 2
3 3
4 4
5 10
6 11
7 12
8 13
9 14
10 20
11 21
12 22

In [25]:
14 // 5

2

In [22]:
17 // 5

3

In [23]:
15 // 5

3

In [ ]:
62718 = 62710 + 8
((((6)*10 + 2)*10 + 7)*10 + 1)*10 + 8

4001333 = (((((4*5+0)*5+0)*5+1)*5+3)*5+3)*5 + 3

In [29]:
(((((4*5+0)*5+0)*5+1)*5+3)*5+3)*5 + 3

62718

In [10]:
num = 62718 = first_digit + 10*second_digit + 100*third_digit
--> first_digit + 5*second_digit + 5^2 * third_digit

In [9]:
num = 62718

In [27]:
(11 - 1)//5

2

In [28]:
11/5

2.2

In [10]:
d = num % 5
print("Digit: ", d)
rem = num - d
num = rem // 5
print(num)

Digit:  3
12543

In [11]:
d = num % 5
print("Digit: ", d)
rem = num - d
num = rem // 5
print(num)

Digit:  3
2508

In [12]:
d = num % 5
print("Digit: ", d)
rem = num - d
num = rem // 5
print(num)

Digit:  3
501

In [13]:
d = num % 5
print("Digit: ", d)
rem = num - d
num = rem // 5
print(num)

Digit:  1
100

In [14]:
d = num % 5
print("Digit: ", d)
rem = num - d
num = rem // 5
print(num)

Digit:  0
20

In [15]:
d = num % 5
print("Digit: ", d)
rem = num - d
num = rem // 5
print(num)

Digit:  0
4

In [16]:
d = num % 5
print("Digit: ", d)
rem = num - d
num = rem // 5
print(num)

Digit:  4
0

In [ ]:
4001333

In [7]:
d = num % 5
print("Digit: ", d)
rem = num - d
num = rem // 5

Digit:  2

In [19]:
num

12543

In [ ]:

Q5: Convert 1, 10, 20, 30, 100 from your base to base10.

Q6. Write a strategy to convert a number in your base to base 10 in plain english or pseudo code or python

Q7. Write a strategy to convert a number in base N to base M in plain english or pseudo code or python

Q8.

Q: In base 7, how many numbers can you represent in 5 digits?

A: 7**5

Q: In base B, how many numbers can you represent in d digits?

A: B**d

Q: To represent all numbers upto to but not including 10000 in base10, how many digits do you need?

Q: To represent all numbers up to 9999 in base10, how many digits do you need?

A: Four Note: we are representing total 10000 (0 to 9999) numbers

Q: To represent N numbers, how many digits do we need in base 10?

A: log10(N)

# Mod - %

1. Checking divisiblity
2. One way encryption - Checksum
3. Load balance, dictionary - hashing

In [5]:
nums = [123, 12718568, 1, 2, 120188, 376636, 46577, 152526, 2627, 12718568]

In [ ]:
Three buckets - 0, 1, 2

In [6]:
123 % 3

0

In [7]:
12718568 % 3

2

In [8]:
1 % 3

1

In [10]:
ord("s")

115

"sandeep" -> (ord("s") + 64*ord("a") + 64*64*ord("n"))%29187190

In [11]:
hash("sandeep")

-5834669395847206455

Two kinds of encryption algos:

    One way: Hashing, checksum etc. - md5, sha1
        
    Two way: 
        - Symmetric -> data + key -> enc_data 
                    enc_data + key -> data
        - Assymmetric -> 
            - data + private_key -> enc
            - enc + public_key -> data

In [ ]:
#base 16 to Base 5
base16 -> base10 -> base 5

In [14]:
# Base 6
0
1
2
3
4
5
10
11

11

In [ ]:
# Base 6

- 11
-10
-5
-4
-3
-2
-1
0
1
2
3
4
5
10
11

With base5 and 2 digits we were able to represent 25 numbers because there were 25 combinations possible but if we include negative numbers then with the same base, wouldn't we be able to represent 50 possible numbers ?

https://www.youtube.com/playlist?list=PLjMXczUzEYcHvw5YYSU92WrY8IwhTuq7p

https://pjreddie.com/projects/

# ANTLR

In [17]:
p = 100
r = 10
t = 20
interest = p * r * t/100
print(interest)

200.0

In [23]:
def myinterest(p, r, t):
    interest = p * r * t/100
    return interest

In [24]:
principle = 100
result = myinterest(principle, 10, 20)
print("Total: ", principle + result)

Total:  300.0

In [ ]:
principle = 100
intrst = 0
result = myinterest(principle, 10, 20)
print("Total: ", principle + result)

In [25]:
amount = 10

In [27]:
type(amount)

int

In [28]:
amount = 10.5
type(amount)

float

In [29]:
bl = False
type(bl)

bool

In [31]:
type(myinterest)

function

In [35]:
name = "sandeep"
type(name)

str

In [36]:
arr = [1, "giri", 3.5, False, ["another arr"]]
len(arr)

5

In [37]:
arr[0]

1

In [38]:
arr[1]

'giri'

In [39]:
arr[2]

3.5

In [63]:
for e in arr:
    print(e)
print("Type: ", type(e))

1
giri
3.5
False
['another arr']
Type:  <class 'list'>

In [42]:
for e in arr:
    print(e)
    print("Type: ", type(e))

1
Type:  <class 'int'>
giri
Type:  <class 'str'>
3.5
Type:  <class 'float'>
False
Type:  <class 'bool'>
['another arr']
Type:  <class 'list'>

In [43]:
for e in arr:
    print(f"Type of {e} is ", type(e))

Type of 1 is  <class 'int'>
Type of giri is  <class 'str'>
Type of 3.5 is  <class 'float'>
Type of False is  <class 'bool'>
Type of ['another arr'] is  <class 'list'>

In [45]:
n = 10
while n > 0:
    print(n)
    n = n - 1

10
9
8
7
6
5
4
3
2
1

In [47]:
# Base 5 to base 10

num = 1224 
# 1*4 + 5*1 * 2 + 5*5*2 + 5*25*1
result = 0
mult = 1

In [48]:
rem = num % 10
result = result + rem*mult
num = num // 10
mult = mult * 5

In [49]:
mult, result, num

(5, 4, 122)

In [50]:
rem = num % 10
result = result + rem*mult
num = num // 10
mult = mult * 5

In [51]:
mult, result, num

(25, 14, 12)

In [52]:
rem = num % 10
result = result + rem*mult
num = num // 10
mult = mult * 5

In [53]:
mult, result, num

(125, 64, 1)

In [54]:
rem = num % 10
result = result + rem*mult
num = num // 10
mult = mult * 5

In [55]:
mult, result, num

(625, 189, 0)

In [56]:
def extract(mult, result, num):
    rem = num % 10
    result = result + rem*mult
    num = num // 10
    mult = mult * 5
    return mult, result, num

In [57]:
mult, result, num = 1, 0, 4123

In [61]:
mult, result, num = extract(mult, result, num)
print(mult, result, num)

625 538 0

In [62]:
mult, result, num = 1, 0, 4123324
while num > 0:
    mult, result, num = extract(mult, result, num)
    print(mult, result, num)

5 4 412332
25 14 41233
125 89 4123
625 464 412
3125 1714 41
15625 4839 4
78125 67339 0

In [67]:
mult, result, num = 1, 0, 4123324
print(f"Base5 number is {num}")
while num > 0:
    mult, result, num = extract(mult, result, num)
print(f"Base10 value of is {result}")

Base5 number is 4123324
Base10 value of is 67339

In [75]:
def extract_rec(tab, mult, result, num):
    print(tab, "Calling: ", mult, result, num)
    rem = num % 10
    result = result + rem*mult
    num = num // 10
    mult = mult * 5
    if num == 0:
        return result
    else:
        fr = extract_rec(tab + "\t", mult, result, num)
        print(tab, "Finished and found: ", fr)
        return fr

In [76]:
mult, result, num = 1, 0, 4123324
result = extract_rec("", mult, result, num)
print(result)

 Calling:  1 0 4123324
	 Calling:  5 4 412332
		 Calling:  25 14 41233
			 Calling:  125 89 4123
				 Calling:  625 464 412
					 Calling:  3125 1714 41
						 Calling:  15625 4839 4
					 Finished and found:  67339
				 Finished and found:  67339
			 Finished and found:  67339
		 Finished and found:  67339
	 Finished and found:  67339
 Finished and found:  67339
67339