<a href="https://colab.research.google.com/github/vaibhavhaldia/june_2025_iitr/blob/main/sep13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
x = 3.000000000000009

In [33]:

if x <= 3 or x >= 2:
    print("Yes")
else:
    print("no")

no

In [63]:
#GK's sudoku solved

def find_first_blank_position(sudoku):

    for row in range(9):

        for col in range(9):

            if sudoku[row][col] == 0:

                return row, col

    return None



def find_numbers_to_fill(sudoku, i, j):

    row_vals = set(sudoku[i])

    col_vals = set(sudoku[x][j] for x in range(9))

    box_row, box_col = 3 * (i // 3), 3 * (j // 3)

    box_vals = set(

        sudoku[r][c]

        for r in range(box_row, box_row + 3)

        for c in range(box_col, box_col + 3)

    )

    return set(range(1, 10)) - row_vals - col_vals - box_vals



def solve(sudoku):

    pos = find_first_blank_position(sudoku)

    if pos is None:

        print(sudoku)

        return True

    i, j = pos

    candidates = find_numbers_to_fill(sudoku, i, j)

    for candidate in candidates:

        sudoku[i][j] = candidate

        if solve(sudoku):

            return True

        sudoku[i][j] = 0

    return False

In [55]:
sud = [[0,0,0,0,0,2,3,0,6],[0,0,0,0,0,0,0,1,0],[0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0]]

In [56]:
sud

[[0, 0, 0, 0, 0, 2, 3, 0, 6],
 [0, 0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [64]:
solve(sud)

[[1, 4, 8, 9, 5, 2, 3, 7, 6], [2, 3, 9, 8, 6, 7, 4, 1, 5], [5, 6, 7, 1, 3, 4, 8, 9, 2], [3, 1, 2, 4, 8, 9, 5, 6, 7], [4, 8, 5, 2, 7, 6, 1, 3, 9], [9, 7, 6, 3, 1, 5, 2, 8, 4], [8, 9, 4, 6, 2, 1, 7, 5, 3], [6, 5, 1, 7, 4, 3, 9, 2, 8], [7, 2, 3, 5, 9, 8, 6, 4, 1]]

True

True

In [61]:
a = [[1, 4, 8, 9, 5, 2, 3, 7, 6], [2, 3, 9, 8, 6, 7, 4, 1, 5], [5, 6, 7, 1, 3, 4, 8, 9, 2], [3, 1, 2, 4, 8, 9, 5, 6, 7], [4, 8, 5, 2, 7, 6, 1, 3, 9], [9, 7, 6, 3, 1, 5, 2, 8, 4], [8, 9, 4, 6, 2, 1, 7, 5, 3], [6, 5, 1, 7, 4, 3, 9, 2, 8], [7, 2, 3, 5, 9, 8, 6, 4, 1]]

In [62]:
a

[[1, 4, 8, 9, 5, 2, 3, 7, 6],
 [2, 3, 9, 8, 6, 7, 4, 1, 5],
 [5, 6, 7, 1, 3, 4, 8, 9, 2],
 [3, 1, 2, 4, 8, 9, 5, 6, 7],
 [4, 8, 5, 2, 7, 6, 1, 3, 9],
 [9, 7, 6, 3, 1, 5, 2, 8, 4],
 [8, 9, 4, 6, 2, 1, 7, 5, 3],
 [6, 5, 1, 7, 4, 3, 9, 2, 8],
 [7, 2, 3, 5, 9, 8, 6, 4, 1]]

In [65]:
class Job:
    def __init__(self,job_description):
        self.salary=job_description['salary']
        self.distance=job_description['distance']
        self.coffee=job_description['coffe']
        self.nightshift=job_description['nightshift']

    def check(self):
        if self.salary<=1000:
            if self.distance<=50:
                if self.coffee=='Yes':
                    if self.nightshift=='no':
                        return True
                    else:
                        return False
                else:
                    return False
            else:
                return False
        else:
            if self.distance<=60:
                if self.coffee=='no'or 'Yes':
                    if self.nightshift=='no':
                        return True
                    else:
                        return False
                else:
                    return False
            else:
                return False

In [66]:
job_description = {
    "salary": 15000,
    "distance": 60,
    "coffe": 'Yes',
    "nightshift":'no'
}

Nigam's permution solution, in which we have show all possible permution of a string.

In [67]:
def permute(s):

    if len(s) == 1:

        return [s]

    first_letter = s[0]

    remaining = s[1:]

    previous = permute(remaining)

    result = []

    for p in previous:

        for i in range(len(p) + 1):

            new_word = p[:i] + first_letter + p[i:]

            result.append(new_word)

    return result

permute('abcd')

['abcd',
 'bacd',
 'bcad',
 'bcda',
 'acbd',
 'cabd',
 'cbad',
 'cbda',
 'acdb',
 'cadb',
 'cdab',
 'cdba',
 'abdc',
 'badc',
 'bdac',
 'bdca',
 'adbc',
 'dabc',
 'dbac',
 'dbca',
 'adcb',
 'dacb',
 'dcab',
 'dcba']

Itertool is used to generate the string permutations,